body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    overflow: hidden;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-height: 85vh;
    flex: 1;
}

.table-section {
    flex: 3;
    max-height: 600px;
    overflow: hidden; 
    cursor: grab;
    user-select: none; 
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.order-table th,
.order-table td {
    border: 1px solid #444;
    padding: 7px;
    text-align: center;
}

.order-table th {
    background-color: #333; /* Cabecera más profesional */
    color: white; 
    text-transform: uppercase;
    font-weight: bold;
}

.order-table td.noAccion {
    background-color: #555; /* Fondo gris para "noAccion" */
    color: #bbb; /* Texto tenue */
}

.order-table td.check-icon {
    font-size: 18px;
    color: #4caf50; /* Verde profesional para el check */
}

.order-table tr:hover {
    background-color: #444; /* Resaltar fila al pasar el mouse */
}

.delete-btn {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #ff6666;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* Incrementa la separación entre los botones */
    margin-top: 20px;
    justify-content: center;
    /* Centra las categorías */
}

.categories-container {
    margin-bottom: 60px;
}

.category-content {
    text-align: center;
}

.category-name {
    display: block;
    margin-bottom: 5px;
}

.category-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.category-btn {
    flex: 1 1 calc(25% - 20px);
    max-width: 200px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.category-btn:hover {
    background-color: #666;
    transform: scale(1.05);
}
.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* Distribución uniforme */
    gap: 7px;
    /* Espacio entre los elementos */
    margin-top: 20px;
    justify-items: center;
}

.menu-item {
    background-color: #333;
    border: none;
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 15px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100px;
    /* Tamaño uniforme */
    height: 100px;
    /* Tamaño uniforme */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item:hover {
    background-color: #666;
    transform: scale(1.05);
}

.footer {
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: transparent; 
    margin-top: auto; 
    position: relative; 
}

.inline-header {
    display: flex; 
    gap: 20px; 
    align-items: center; 
}

.inline-header h3 {
    margin: 0; 
    display: inline-block; 
}

.action-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #666;
}

/* Ícono de check para la columna "Estado" */
.order-table td.check-icon::before {
    font-weight: bold;
}

.menu-section {
    flex: 2;
}