body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FAF3E0;
    /* Beige cálido para fondo general */
    color: #5C4033;
    /* Marrón suave para texto */
    overflow: hidden;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #FFF6E5;
    /* Fondo cálido */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: #8B4513;
    /* Marrón cálido */
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-height: 85vh;
    flex: 1;
}

.table-section {
    flex: 3;
    max-height: 600px;
    padding: 10px;
    overflow: hidden;
    cursor: grab;
    user-select: none;
    background-color: #FFFBE6;
    /* Beige claro */
    border: 2px solid #D4A373;
    /* Marrón claro */
    border-radius: 10px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.order-table th,
.order-table td {
    border: 1px solid #D4A373;
    padding: 7px;
    text-align: center;
}

.order-table th {
    background-color: #FFD699;
    /* Amarillo cálido */
    color: #5C4033;
    /* Marrón oscuro */
    text-transform: uppercase;
    font-weight: bold;
}

.order-table td.noAccion {
    background-color: #FFF6E5;
    /* Beige claro */
    color: #5C4033;
    /* Marrón */
}

.order-table td.check-icon {
    font-size: 18px;
    color: #388E3C;
    /* Verde más oscuro */
}

.order-table tr:hover {
    background-color: #FFE4B5;
    /* Beige suave */
}

.delete-btn {
    background-color: #E67300;
    /* Naranja intenso */
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #FF8C00;
    /* Naranja más claro */
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 20px;
    justify-content: center;
}

.categories-container {
    margin-bottom: 60px;
}

.category-content {
    text-align: center;
}

.category-name {
    display: block;
    margin-bottom: 5px;
    color: #5C4033;
}

.category-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.category-btn {
    flex: 1 1 calc(25% - 20px);
    max-width: 200px;
    background-color: #FFDD99;
    /* Amarillo cálido */
    color: #5C4033;
    border: 1px solid #D4A373;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.category-btn:hover {
    background-color: #FFC966;
    /* Naranja suave */
    transform: scale(1.05);
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 7px;
    margin-top: 20px;
    justify-items: center;
}

.menu-item {
    background-color: #FFD699;
    /* Amarillo cálido */
    border: 1px solid #D4A373;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: #5C4033;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item:hover {
    background-color: #FFC966;
    /* Naranja suave */
    transform: scale(1.05);
}

.footer {
    text-align: center;
    padding: 10px 0;
    color: #5C4033;
    background-color: transparent;
    margin-top: auto;
    position: relative;
}

.menu-section {
    flex: 2;
}

.footer button {
    padding: 10px 20px;
    background-color: #FFDD99;
    /* Amarillo cálido */
    color: #5C4033;
    /* Marrón oscuro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.footer button:hover {
    background-color: #FFC966;
    /* Naranja suave */
}
.inline-header {
    display: flex; 
    gap: 20px; 
    align-items: center; 
}